PORT=5001

# MONGODB_URI - Choose depending on your execution environment:
# 1. Local Development (using Docker Compose MongoDB):
MONGODB_URI=mongodb://127.0.0.1:27018/service-request-board

# 2. Production (using MongoDB Atlas Cloud Cluster):
# MONGODB_URI=mongodb+srv://<>:<>.cxow04v.mongodb.net/service-request-board?retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
